# MongoDB Configuration
MONGO_URI=mongodb://root:example@localhost:27017

# Worker Configuration
WORKER_COUNT=100

# InfluxDB Configuration
INFLUX_URL=http://localhost:8086
INFLUX_TOKEN=my-token
INFLUX_ORG=my-org
INFLUX_BUCKET=net_metrics
